{:main [
        {:des "Extra remappings"
         :rules [
                 [:non_us_backslash :grave_accent_and_tilde]
                 [:!Rnon_us_backslash :!Sgrave_accent_and_tilde]
                 ]}
        {:des "layer j"
         :rules [[:j ["layer-j" 1] nil {:afterup ["layer-j" 0] :alone :j}] ;; tap -> j, hold -> layer (no timeout flush)
                 [:a :!S5 ["layer-j" 1]] ;; js -> %
                 [:s :!S4 ["layer-j" 1]] ;; js -> $
                 [:d :!S9 ["layer-j" 1]] ;; jd insert (
                 [:f :!S0 ["layer-j" 1]] ;; jf insert )
                 [:x :!Sopen_bracket ["layer-j" 1]] ;; jx insert {
                 [:c :!Sclose_bracket ["layer-j" 1]] ;; jc insert }
                 [:e :open_bracket ["layer-j" 1]] ;; je insert [
                 [:r :close_bracket ["layer-j" 1]] ;; jr insert ]
                 ]}
        {:des "layer f"
         :rules [[:f ["layer-f" 1] nil {:afterup ["layer-f" 0] :alone :f}] ;; tap -> f, hold -> layer
                 [:j :!S1 ["layer-f" 1]] ;; fj insert !
                 [:k :equal_sign ["layer-f" 1]] ;; fk insert =
                 [:l :!S7 ["layer-f" 1]] ;; fl insert &
                 [:semicolon :!Sbackslash ["layer-f" 1]] ;; f; insert |
                 [:m :!S2 ["layer-f" 1]] ;; fm -> @
                 ]}
        {:des "layer s"
          :rules [[:s ["layer-s" 1] nil {:afterup ["layer-s" 0] :alone :s}] ;; tap -> s, hold -> layer
                  [:d [:equal_sign :!Speriod] ["layer-s" 1]]
                  [:f [:!S9 :!S0 :spacebar :equal_sign :!Speriod :spacebar :!Sopen_bracket :!Sclose_bracket :left_arrow] ["layer-s" 1]]
                  [:x :!Scomma ["layer-s" 1]] ;; sx -> <
                  [:c :!Speriod ["layer-s" 1]] ;; sc -> <
                  ]}
        {:des "layer d"
          :rules [[:d ["layer-d" 1] nil {:afterup ["layer-d" 0] :alone :d}] ;; tap -> d, hold -> layer
                  [:j :!Sequal_sign ["layer-d" 1]]
                  [:k :hyphen ["layer-d" 1]]
                  [:l :!S8 ["layer-d" 1]]
                  [:semicolon :slash ["layer-d" 1]]
                  [:i :!Shyphen ["layer-d" 1]]
                  [:comma :!Shyphen ["layer-d" 1]]
                  ]}
        ; TODO: make the layer automatically hold option when pressed
        {:des "layer semi-colon"
         :rules [[:semicolon ["layer-semi-colon" 1] nil {:afterup ["layer-semi-colon" 0] :alone :semicolon}] ;; tap -> ;, hold -> layer
                 [:a :!O1 ["layer-semi-colon" 1]]
                 [:s :!O2 ["layer-semi-colon" 1]]
                 [:d :!O3 ["layer-semi-colon" 1]]
                 [:1 :!O1 ["layer-semi-colon" 1]]
                 [:2 :!O2 ["layer-semi-colon" 1]]
                 [:3 :!O3 ["layer-semi-colon" 1]]
                 [:4 :!O4 ["layer-semi-colon" 1]]
                 [:5 :!O5 ["layer-semi-colon" 1]]
                 [:f :!Of ["layer-semi-colon" 1]]
                 [:h :!Oh ["layer-semi-colon" 1]]
                 [:j :!Oj ["layer-semi-colon" 1]]
                 [:k :!Ok ["layer-semi-colon" 1]]
                 [:l :!Ol ["layer-semi-colon" 1]]
                 [:q :!Cq ["layer-semi-colon" 1]]
                 ]}
        {:des "layer space"
          :rules [[:spacebar ["layer-space" 1] nil {:afterup ["layer-space" 0] :alone :spacebar}] ;; tap -> space, hold -> layer
                  [:n :down_arrow ["layer-space" 1]]
                  [:p :up_arrow ["layer-space" 1]]
                  [:j :down_arrow ["layer-space" 1]]
                  [:k :up_arrow ["layer-space" 1]]
                  [:h :left_arrow ["layer-space" 1]]
                  [:l :right_arrow ["layer-space" 1]]
                  ]}
        {:des "Caps is escape when tapped, left command when held"
         :rules [[:##caps_lock :left_command nil {:alone :escape}]]}
        ; {:des "Semi-colon when tapped, option when held"
        ;  :rules [[:##semicolon :left_option nil {:alone :semicolon}]]}
        ; {:des "Custom app launching"
        ;         :rules [[:!Creturn_or_enter "open -a kitty"]
        ;                 [:!CSreturn_or_enter "open -n -a kitty --copy-env --args lf"]
        ;         ]}
        {:des   "Quit application by pressing command-q twice"
             :rules [[
                ;; <from> second cmd-q (when variable "command-q" is 1)
                :!C#Pq
                ;; <to>, 3 to action
                ;; 1. call cmd-q
                ;; 2. set variable "command-q" to 0
                ;; 3. cleanup the :cmdq notification (omit the thrid item to cleanup notification)
                [:!Cq ["command-q" 0] [:noti :cmdq]]
                ;; <condition> when variable "command-q" is 1
                ["command-q" 1]]


               [
                ;; <from> first cmd-q (when variable "command-q" is 0)
                :!C#Pq

                ;; <to>, 2 to action
                ;; 1. show notification with :id :cmdq, :text "Press Again to QUIT"
                ;; 2. set variable "command-q" to 1 (for the second press)
                [[:noti :cmdq "Press again to quit"] ["command-q" 1]]

                ;; <condition> nil means no required condition
                nil

                ;; <additional-option>
                {
                 ;; to_delayed_action documentation
                 ;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/to-delayed-action/
                 :delayed {
                           ;; run 2 actions when no other key presses after basic.to_delayed_action_delay_milliseconds
                           ;; 1. set variable "command-q" to 0
                           ;; 2. cleanup notification :id :cmdq
                           :invoked  [["command-q" 0] [:noti :cmdq]]

                           ;; run 2 actions when another key presses within basic.to_delayed_action_delay_milliseconds
                           ;; 1. set variable "command-q" to 0
                           ;; 2. cleanup notification :id :cmdq
                           :canceled [["command-q" 0] [:noti :cmdq]]}}]]}
            ]
}

